@import "../../assets/css/main.scss";
.signup {
  display: flex;
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  .signup-container {
    width: 80%;
    max-width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px;
    .signup-form {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 300px;
    }
    h2 {
      text-align: center;
    }
    input {
      height: 25px;
      border-radius: 5px;
      border: 1px solid rgba(0, 0, 0, 0.322);
    }
    .forgot-password {
      display: flex;
      flex-direction: column;
      height: 35px;
      align-items: center;
      justify-content: center;
      font-size: 16px;
    }
    .error-msg {
      color: #6d1119;
      background: #fdbbc1;
      height: 40px;
      display: flex;
      align-items: center;
      border-radius: 5px;
      margin: 10px 0;
      span {
        padding-left: 20px;
      }
    }
  }
  button {
    margin-top: 15px;
    font-size: 16px;
  }
  .have-account {
    display: flex;
    justify-content: center;
    height: 35px;
    align-items: center;
    font-size: 16px;

    a {
      margin-left: 6px;
    }
  }
}
